/* =========================
   GENERAL
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111111;
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}


/* =========================
   NAVIGATION
========================= */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 22px 7%;

    background: rgba(17, 17, 17, 0.9);
    backdrop-filter: blur(10px);
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: -1px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #ff4d00;
}


/* =========================
   IMAGE
========================= */

.full-width {
    display: block;
    width: 100%;
    height: auto;
}


/* =========================
   HERO
========================= */

.hero {
    padding-top: 74px;
    overflow: hidden;
}

.hero-content {
    max-width: 650px;

    padding: 120px 10% 80px;
}

.hero h1 {
    font-size: clamp(65px, 11vw, 150px);
    line-height: 0.85;
    font-weight: 900;
    letter-spacing: -7px;
}

.hero h1 span {
    color: #ff4d00;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

    .navbar {
        padding: 20px;
    }

    .nav-links {
        gap: 12px;
    }

    .nav-links a {
        font-size: 10px;
    }

    .hero-content {
        padding: 120px 10% 80px;
    }

    .hero h1 {
        font-size: clamp(65px, 18vw, 100px);
        letter-spacing: -4px;
    }
}
